fastapi>=0.110
uvicorn[standard]>=0.27
python-multipart>=0.0.9
openai-whisper>=20231117
torch
python-dotenv>=1.0
pymongo>=4.6
passlib[bcrypt]>=1.7
python-jose[cryptography]>=3.3
email-validator>=2.0
deep-translator>=1.11
